.requests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr; 
  gap: 1.5rem;
  list-style: none;
  padding: 50px;
}
.requests li {
  display: flex;
}
  
  @media (min-width: 1200px) {
    .requests {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1199px) and (min-width: 900px) {
    .requests {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 899px) and (min-width: 600px) {
    .requests {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 599px) {
    .requests {
      grid-template-columns: 1fr;
    }
  }
  