.board {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    height: 90vh;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .navCubes {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-height: 90vh;
    place-content: center;
    place-items: center;
    box-sizing: border-box;
  }
  
  .link {
    background-color: #b7acc9;
    color: black;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    max-height: 40vh;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  
  .link:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
  
  .sideBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  
  .sideBar img,
  .excel {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
  
  .sideBar img {
    object-fit: cover;
    height: auto;
    flex: 1;
  }
  
  .excel {
    background-color: #6a2ca3;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    transition: background 0.2s ease;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .excel:hover {
    background-color: #572183;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
  
  @media (max-width: 900px) {
    .board {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  
    .navCubes {
      width: 100%;
      max-width: 600px;
    }
  
    .sideBar img {
      display: none;
    }
  
    .sideBar {
      width: 100%;
      max-width: 400px;
      justify-content: center;
    }
  }
  